<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1071630789287-co19gjccp4jtqha2uhh9lsj64avbcv5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071630789287-co19gjccp4jtqha2uhh9lsj64avbcv5c</string>
	<key>API_KEY</key>
	<string>AIzaSyAy_fXGs2ee66EDzW66bDDNxR_F4DyFcS0</string>
	<key>GCM_SENDER_ID</key>
	<string>1071630789287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.devsummit.app.ios</string>
	<key>PROJECT_ID</key>
	<string>io-devsummit</string>
	<key>STORAGE_BUCKET</key>
	<string>io-devsummit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071630789287:ios:f2295c1ea5649f4d</string>
	<key>DATABASE_URL</key>
	<string>https://io-devsummit.firebaseio.com</string>
</dict>
</plist>