<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountKitClientToken</key>
	<string>de6a4f2b416bca74714745f4372ad6e4</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>DevSummit</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>io.devsummit.app.ios</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>akde6a4f2b416bca74714745f4372ad6e4</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>41</string>
	<key>CodePushDeploymentKey</key>
	<string>p6ysnTFzj3L5oYY6pweguhccpOF-e8c16598-0921-4a42-b5c8-7914ea94beba</string>
	<key>CodePushPublicKey</key>
	<string>-----BEGIN PUBLIC KEY-----
  MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBANkWYydPuyOumR/sn2agNBVDnzyRpM16NAUpYPGxNgjSEp0etkDNgzzdzyvyl+OsAGBYF3jCxYOXozum+uV5hQECAwEAAQ==
  -----END PUBLIC KEY-----</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>91389a8adc10be8228360a1dc3fa758f2c2ff159</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1429376450515465</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>com.paypal.ppclient.touch.v1</string>
		<string>com.paypal.ppclient.touch.v2</string>
		<string>org-appextension-feature-password-management</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>DevSummit would like to receive broadcast from beacon bluetooth device to give you a better experience</string>
	<key>NSCameraUsageDescription</key>
	<string>DevSummit requires access to the camera.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>DevSummit would like to ask your consent to consequently request your location</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>DevSummit would like to ask your consent to consequently always use your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>DevSummit requires access to the location library when in use</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>DevSummit requires access to the photo library.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Roboto.ttf</string>
		<string>Roboto_medium.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>rubicon-icon-font.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>Feather.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchImage</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
