<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountKitClientToken</key>
	<string>de6a4f2b416bca74714745f4372ad6e4</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>DevSummit</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ak1429376450515465</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CodePushDeploymentKey</key>
	<string>ylzfrzWtmLZGySDLgXJ8O_OPqhmx7a0e3200-cc3f-42bd-b1e8-a65dc8c238a7</string>
	<key>FacebookAppID</key>
	<string>1429376450515465</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>DevSummit requires access to the photo library.</string>
	<key/>
	<string>UIAppFonts</string>
	<key>Entypo.ttf,EvilIcons.ttf,FontAwesome.ttf,Foundation.ttf,Ionicons.ttf,MaterialIcons.ttf,Octicons.ttf,Roboto_medium.ttf,Roboto.ttf,rubicon-icon-font.ttf,SimpleLineIcons.ttf,Zocial.ttf,MaterialCommunityIcons.ttf,Montserrat-Bold.ttf,Montserrat-Regular.ttf</key>
	<string>UILaunchStoryboardName</string>
	<key>LaunchScreen</key>
	<string>UIRequiredDeviceCapabilities</string>
	<key>armv7</key>
	<string>UISupportedInterfaceOrientations</string>
	<key>UIInterfaceOrientationPortrait,UIInterfaceOrientationLandscapeLeft,UIInterfaceOrientationLandscapeRight</key>
	<string>UIViewControllerBasedStatusBarAppearance</string>
	<key>UIAppFonts</key>
	<array/>
</dict>
</plist>
